.calculator {
    width: 400px    ;
    margin: 0 auto;
}

#display {
    margin: 5px;
    padding: 0 20px;
    width: 400px;
    height: 60px;
    box-sizing: border-box;
}

#display,
.digits button {
    font-size: 2rem;
    background: #eadbd1;
    border-radius: 30px;
    border: 2px #511515 solid;
    color: #332323;
}

#display:active,
.digits button:active {
    background: rgb(255, 240, 215);
}

button:disabled {
    cursor: no-drop;
    background: #b4aba3;
}

.digits {
    width: 400px;
}

#result {
    width: 185px;
}

.digits button {
    margin: 5px;
    width: 85px;
    height: 60px;
}


.test {
    display: none;
}
